:root {
  --white: #ffff;
  --nav-color: #bfc5cd;
  --line-color: #f4f4f4;
  --dark-grey: #1e2739;
  --medium-grey: #e6e6e6;
  --text-color: #8d8d8d;
  --body-color: #f6f8fa;
  --main-color: #87e6ba;
}

.board-page.show {
  gap: 100px;
  width: 100%;
  height: 75vh;
  display: block;
  overflow-y: auto;
  max-width: 1800px;
  margin-top: 30px;
}

/* Board Page */
.board-page {
  gap: 100px;
  width: 100%;
  height: 75vh;
  display: none;
  overflow-y: auto;
  max-width: 1800px;
}

.board-page::-webkit-scrollbar {
  width: 5px;
}
.board-page::-webkit-scrollbar-track {
  border-radius: 25px;
  background: #f1f1f1;
}

.board-page::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #e6e6e6;
}

/* Column Wrapper */
.column-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1800px;
  justify-content: space-evenly;
}

.column-wrapper .column {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.column-wrapper .column-title {
  font-weight: 500;
  text-align: center;
  font-size: calc(21 / 16 * 1rem);
  color: var(--dark-grey);
}

.column-wrapper .first-column-button {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px;
  margin: 10px 0 20px 0;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.column-wrapper .first-column-button i {
  font-size: calc(14 / 16 * 1rem);
}

.column-wrapper .first-column-button:hover {
  transform: scale(0.98);
}

/* Card List */
.card-list .card {
  margin: 0 0 10px 0;
  text-align: left;
  display: flex;
  height: 165px;
  cursor: pointer;
  overflow-y: auto;
  border-radius: 12px;
  flex-direction: column;
  padding: 15px 20px 20px;
  transition: all 0.3s ease;
  justify-content: space-evenly;
  border: 2px solid var(--nav-color);
}

.card:hover {
  border: 2px solid var(--main-color);
}

.card::-webkit-scrollbar {
  width: 3px;
  height: 180px;
}
.card::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #f1f1f1;
}
.card::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #e2e2e2;
}

.card-list .card-details .title {
  cursor: pointer;
  text-align: left;
  padding-bottom: 5px;
  color: var(--dark-grey);
  font-size: calc(17 / 16 * 1rem);
}

.card-list .card-details p {
  word-wrap: break-word;
  cursor: pointer;
  font-weight: 500;
  padding-bottom: 10px;
  color: var(--text-color);
  font-size: calc(15 / 16 * 1rem);
}
