:root {
  --white: #ffff;
  --nav-color: #bfc5cd;
  --line-color: #f4f4f4;
  --dark-grey: #1e2739;
  --medium-grey: #e6e6e6;
  --text-color: #8d8d8d;
  --body-color: #f6f8fa;
  --main-color: #87e6ba;
}

/* Popup Box */
.board-page .popup-box.show {
  opacity: 1;
  pointer-events: all;
}

.board-page .popup-box {
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  background: rgba(0, 0, 0, 0.589);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: all 0.3s ease;
}

.board-page .popup-box .popup {
  border-radius: 15px;
  padding: 30px;
  background: var(--white);
  height: auto;
  width: 400px;
}

/* Popup Box - Content */
.board-page .popup .content {
  display: flex;
  flex-direction: column;
}

/* Content - Header */
.board-page .popup .content header {
  display: flex;
  position: relative;
  border-bottom: 1px solid var(--nav-color);
}

.board-page .popup .content header p {
  padding-bottom: 10px;
  font-weight: 600;
  color: var(--dark-grey);
  font-size: calc(18 / 16 * 1rem);
}

.board-page .popup .content header i {
  font-size: calc(22 / 16 * 1rem);
  transform: rotate(45deg);
  position: absolute;
  left: 330px;
  top: -10px;
  cursor: pointer;
}

/* Content - Form */
.board-page .popup #popup-form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.board-page .popup #popup-form button {
  cursor: pointer;
  margin: 15px auto 0 auto;
  padding: 8px 0;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  background: var(--main-color);
  font-size: 1rem;
  color: var(--white);
  width: 100%;
}

.board-page .popup #popup-form button:hover {
  background: #82dbb2;
}

.board-page .popup #popup-form .row.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.board-page .popup #popup-form .row.title input {
  font-size: calc(15 / 16 * 1rem);
  padding: 20px 10px;
  height: 30px;
  border: 1px solid var(--nav-color);
  border-radius: 5px;
}

.board-page .popup #popup-form .row.title label,
.board-page .popup #popup-form .row.description label {
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--dark-grey);
  font-size: 1rem;
}

.board-page .popup #popup-form .row.description textarea {
  margin-top: 5px;
  border-radius: 5px;
  font-size: calc(15 / 16 * 1rem);
  padding: 10px;
  width: 100%;
  height: 130px;
  border: 1px solid var(--nav-color);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.board-page.show {
  gap: 100px;
  width: 100%;
  height: 75vh;
  display: block;
  overflow-y: auto;
  max-width: 1800px;
  padding-top: 50px;
}

/* Board Page */
.board-page {
  gap: 100px;
  width: 100%;
  height: 75vh;
  display: none;
  overflow-y: auto;
  max-width: 1800px;
  padding-top: 50px;
}

.board-page::-webkit-scrollbar {
  width: 5px;
}
.board-page::-webkit-scrollbar-track {
  border-radius: 25px;
  background: #f1f1f1;
}

.board-page::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #e6e6e6;
}



/* Card List */
.card-list .column-card {
  text-align: left;
  display: flex;
  height: 215px;
  cursor: pointer;
  overflow-y: auto;
  border-radius: 15px;
  flex-direction: column;
  padding: 15px 20px 20px;
  transition: all 0.3s ease;
  justify-content: space-evenly;
  border: 2px solid var(--nav-color);
}

.column-card:hover {
  border: 2px solid var(--main-color);
}

.column-card::-webkit-scrollbar {
  width: 3px;
  height: 180px;
}
.column-card::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #f1f1f1;
}
.column-card::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #e2e2e2;
}

.card-list .card-details .title {
  cursor: pointer;
  text-align: left;
  padding-bottom: 5px;
  color: var(--dark-grey);
  font-size: calc(18 / 16 * 1rem);
}

.card-list .card-details p {
  word-wrap: break-word;
  cursor: pointer;
  font-weight: 500;
  padding-bottom: 10px;
  color: var(--text-color);
  font-size: calc(15 / 16 * 1rem);
}

/* Note Card - Line */
.card-list .line {
  width: 100%;
  height: 1px;
  padding: 1px;
  background: var(--nav-color);
}

/* Note Card - Bottom details */
.card-list .bottom-details {
  padding-top: 10px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-list .bottom-details .date {
  cursor: default;
  font-weight: 500;
  font-size: calc(14 / 16 * 1rem);
}

.card-list .bottom-details i {
  cursor: pointer;
  font-size: 1rem;
}

/* Settings */

.card-list .bottom-details .settings .fa-ellipsis {
  cursor: pointer;
  color: var(--text-color);
  font-size: calc(20 / 16 * 1rem);
}

.card-list .bottom-details .settings {
  position: relative;
}

.card-list .bottom-details .settings-menu {
  right: 0;
  bottom: 0;
  height: auto;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  transform: scale(0);
  background: var(--white);
  transition: all 0.2s ease;
  transform-origin: bottom right;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.card-list .bottom-details .settings.show .settings-menu {
  transform: scale(1);
}

.card-list .bottom-details .settings-menu li {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  height: auto;
  padding: 5px 0;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0;
  transition: all 0.3s ease;
  justify-content: flex-start;
}

.card-list .bottom-details .settings-menu li:hover {
  color: #5c5c5c;
}

.card-list .bottom-details .settings-menu li i {
  margin-right: 10px;
  font-size: calc(14 / 16 * 1rem);
}
