:root {
  --white: #ffff;
  --nav-color: #bfc5cd;
  --line-color: #f4f4f4;
  --dark-grey: #1e2739;
  --text-color: #797979;
  --body-color: #f6f8fa;
  --main-color: #507CA6;
}

/* Note Page */
.note-page.show {
  gap: 80px ;
  width: 100%;
  height: 75vh;
  display: grid;
  overflow-y: auto;
  max-width: 1800px;
  padding-top: 80px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 250px);
}

.note-page {
  display: none;
}

.note-page::-webkit-scrollbar {
  width: 5px;
}
.note-page::-webkit-scrollbar-track {
  border-radius: 25px;
  background: #f1f1f1;
}

.note-page::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #e6e6e6;
}

/* Add Note */
.note-page .add-note {
  height: 200px;
  width: 250px;
  border-radius: 15px;
  background: var(--white);
  border: 2px solid var(--main-color);
}

.note-page .add-note {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.note-page .add-note .circle i {
  width: 78px;
  height: 78px;
  padding: 28px;
  cursor: pointer;
  border-radius: 50%;
  color: var(--main-color);
  font-size: calc(20 / 16 * 1rem);
  border: 2px dashed var(--main-color);
}
.note-page .add-note p {
  cursor: default;
  font-size: calc(18 / 16 * 1rem);
  font-weight: 500;
  padding-top: 20px;
  color: var(--main-color);
}

/* Note Card */
.note-card {
  display: flex;
  height: 200px;
  overflow-y: auto;
  border-radius: 15px;
  flex-direction: column;
  padding: 0px 20px 0px;
  transition: all 0.3s ease;
  justify-content: space-evenly;
  border: 2px solid var(--nav-color);
}

.note-card:hover {
  border: 2px solid var(--main-color);
}

.note-card::-webkit-scrollbar {
  width: 3px;
  height: 180px;
}
.note-card::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #f1f1f1;
}
.note-card::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #e2e2e2;
}

/* Note Card - Details */
.note-card .details {
  cursor: default;
}

.note-card .details h3 {
  padding-bottom: 5px;
  color: var(--dark-grey);
  font-size: calc(18 / 16 * 1rem);
}

.note-card .details p {
  font-weight: 500;
  padding-bottom: 10px;
  word-wrap: break-word;
  color: var(--text-color);
  font-size: calc(15 / 16 * 1rem);
}
