:root {
  --white: #ffff;
  --nav-color: #bfc5cd;
  --line-color: #f4f4f4;
  --dark-grey: #1e2739;
  --text-color: #797979;
  --body-color: #f6f8fa;
}

/* Popup Box */
.popup-box.show {
  opacity: 1;
  pointer-events: all;
}

.popup-box {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.589);
}

.popup-box .popup {
  height: auto;
  width: 400px;
  padding: 30px;
  border-radius: 15px;
  background: var(--white);
}

/* Popup Box - Content */
.popup .content {
  display: flex;
  flex-direction: column;
}

/* Content - Header */
.popup .content header {
  display: flex;
  position: relative;
  border-bottom: 1px solid var(--nav-color);
}

.popup .content header p {
  font-weight: 600;
  padding-bottom: 10px;
  color: var(--dark-grey);
  font-size: calc(18 / 16 * 1rem);
}

.popup .content header i {
  top: -15px;
  right: -15px;
  cursor: pointer;
  position: absolute;
  transform: rotate(45deg);
  color: var(--text-color);
  transition: all 0.3s ease;
  font-size: calc(18 / 16 * 1rem);
}

.popup .content header i:hover {
  color: #5c5c5c;
}

/* Content - Form */
.popup #popup-form {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
}

.popup #popup-form button {
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  color: var(--white);
  margin: 15px auto 0 auto;
  background: var(--green);
}

.popup #popup-form button:hover {
  background: #3f7fe6;
}

.popup #popup-form .row.title {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.popup #popup-form .row.title input {
  height: 30px;
  padding: 20px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: calc(15 / 16 * 1rem);
  border: 1px solid var(--nav-color);
}

.popup #popup-form .row.title label,
.popup #popup-form .row.description label {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--dark-grey);
}

.popup #popup-form .row.description textarea {
  width: 100%;
  padding: 10px;
  height: 130px;
  margin-top: 5px;
  border-radius: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: calc(15 / 16 * 1rem);
  border: 1px solid var(--nav-color);
}

/* Note Page */
.note-page.show {
  margin-top: 30px;
  gap: 80px;
  width: 100%;
  height: 75vh;
  display: grid;
  overflow-y: auto;
  max-width: 1800px;
  padding-top: 80px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 250px);
}

.note-page {
  display: none;
}

.note-page::-webkit-scrollbar {
  width: 5px;
}
.note-page::-webkit-scrollbar-track {
  border-radius: 25px;
  background: #f1f1f1;
}

.note-page::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #e6e6e6;
}

/* Add Note */
.note-page .add-note {
  height: 200px;
  width: 250px;
  border-radius: 15px;
  background: var(--white);
  border: 2px solid var(--green);
}

.note-page .add-note {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.note-page .add-note .circle i {
  width: 78px;
  height: 78px;
  padding: 28px;
  cursor: pointer;
  border-radius: 50%;
  color: var(--green);
  font-size: calc(20 / 16 * 1rem);
  border: 2px dashed var(--green);
}
.note-page .add-note p {
  cursor: default;
  font-size: calc(18 / 16 * 1rem);
  font-weight: 500;
  padding-top: 20px;
  color: var(--green);
}

/* Note Card */
.note-card {
  display: flex;
  height: 200px;
  overflow-y: auto;
  border-radius: 15px;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  transition: all 0.3s ease;
  justify-content: space-evenly;
  border: 2px solid var(--nav-color);
}

.note-card:hover {
  border: 2px solid var(--green);
}

.note-card::-webkit-scrollbar {
  width: 3px;
  height: 180px;
}
.note-card::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #f1f1f1;
}
.note-card::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #e2e2e2;
}

/* Note Card - Details */
.note-card .details {
  cursor: default;
}

.note-card .details h3 {
  padding-bottom: 5px;
  color: var(--dark-grey);
  font-size: calc(18 / 16 * 1rem);
}

.note-card .details p {
  font-weight: 500;
  padding-bottom: 10px;
  word-wrap: break-word;
  color: var(--text-color);
  font-size: calc(15 / 16 * 1rem);
}

/* Line */
.line {
  width: 100%;
  height: 1px;
  padding: 1px;
  background: var(--line-color);
}

/* Bottom details */
.bottom-details {
  display: flex;
  padding-top: 10px;
  align-items: center;
  color: var(--text-color);
  justify-content: space-between;
}

.bottom-details .date {
  font-weight: 500;
  font-size: calc(14 / 16 * 1rem);
}

.bottom-details .settings .fa-ellipsis {
  cursor: pointer;
  color: var(--text-color);
  font-size: calc(20 / 16 * 1rem);
}

/* Settings */
.bottom-details .settings {
  position: relative;
}

.bottom-details .settings-menu {
  right: 0;
  bottom: 0;
  height: auto;
  position: absolute;
  border-radius: 5px;
  transform: scale(0);
  background: var(--white);
  transition: all 0.2s ease;
  transform-origin: bottom right;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.bottom-details .settings.show .settings-menu {
  transform: scale(1);
}

.bottom-details .settings-menu li {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: auto;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0;
  transition: all 0.3s ease;
  justify-content: flex-start;
}

.bottom-details .settings-menu li:hover {
  background: #f5f5f5;
}

.bottom-details .settings-menu li i {
  font-size: calc(15 / 16 * 1rem);
  padding-right: 8px;
}

/* Media Query */

@media (max-width: 755px) {
  .popup-box .popup {
    width: 350px;
  }
  .popup .content header p {
    font-size: calc(18 / 16 * 1rem);
  }

  .popup .content header i {
    font-size: calc(17 / 16 * 1rem);
  }

  /* Content - Form */
  .popup #popup-form {
    display: flex;
    flex-direction: column;
  }

  .popup #popup-form button {
    padding: 10px 0;
    font-size: calc(14 / 16 * 1rem);
  }

  .popup #popup-form .row.title input {
    padding: 18px 10px;
    font-size: calc(14 / 16 * 1rem);
  }

  .popup #popup-form .row.title label,
  .popup #popup-form .row.description label {
    font-size: 1rem;
  }

  .popup #popup-form .row.description textarea {
    font-size: calc(14 / 16 * 1rem);
  }

  /* Note Page */
  .note-page.show {
    gap: 50px;
    grid-template-columns: repeat(auto-fill, 250px);
  }

  /* Add Note */
  .note-page .add-note {
    height: 180px;
    width: 220px;
  }

  .note-page .add-note .circle i {
    width: 75px;
    height: 75px;
    padding: 29px;
    font-size: 1rem;
  }
  .note-page .add-note p {
    font-size: 1rem;
    padding-top: 20px;
  }

  /* Note Card */
  .note-card {
    height: 180px;
    width: 220px;
  }

  /* Note Card - Details */
  .note-card .details {
    cursor: default;
  }

  .note-card .details h3 {
    font-size: 1rem;
  }

  .note-card .details p {
    font-size: calc(14 / 16 * 1rem);
  }

  .bottom-details .date {
    font-size: calc(13 / 16 * 1rem);
  }

  .bottom-details .settings .fa-ellipsis {
    font-size: calc(18 / 16 * 1rem);
  }

  /* Settings */
  .bottom-details .settings-menu li {
    padding: 10px;
    font-size: calc(14 / 16 * 1rem);
  }

  .bottom-details .settings-menu li i {
    font-size: calc(14 / 16 * 1rem);
  }
}

@media (max-width: 669px) {
  .note-page.show {
    gap: 2;
    padding-top: 30px;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

@media (max-width: 578px) {
  /* Note Page */
  .note-page.show {
    margin-top: 0;
  }
}

@media (max-width: 435px) {
  /* Navbar */
  .navbar .logo h2 {
    font-size: calc(23 / 16 * 1rem);
  }

  .nav-item .item-list .item-links {
    padding: 0 10px;
    margin: 15px 0;
  }

  /* Add Note */
  .note-page .add-note {
    height: 160px;
    width: 180px;
  }

  .note-page .add-note .circle i {
    width: 62px;
    height: 62px;
    padding: 23px;
    font-size: calc(14 / 16 * 1rem);
  }
  .note-page .add-note p {
    font-size: calc(15 / 16 * 1rem);
    font-weight: 500;
    padding-top: 20px;
  }

  /* Note Card */
  .note-card {
    height: 160px;
    width: 180px;
  }
}
