:root {
  --white: #ffff;
  --nav-color: #bfc5cd;
  --line-color: #f4f4f4;
  --dark-grey: #1e2739;
  --text-color: #9b9fa4;
  --body-color: #f6f8fa;
  --main-color: #507ca6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: var(--dark-grey);
  padding: 30px;
  background: var(--body-color);
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  outline: none;
}

button {
  transition: all 0.3s ease;
}

/* Section - White background */
.section {
  width: 100%;
  margin: auto;
  padding: 30px;
  max-width: 1800px;
  border-radius: 20px;
  background: var(--white);
  box-shadow: 0 5px 1.5rem rgba(0, 0, 0, 0.1);
}

/* Navbar */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  justify-content: space-between;
  border-bottom: 2px solid var(--line-color);
}

.navbar .logo h2 {
  cursor: default;
  color: var(--dark-grey);
  font-size: calc(30 / 16 * 1rem);
}

.navbar .nav-item .item-list {
  display: flex;
}

.nav-item .item-list .item-links {
  cursor: pointer;
  padding: 0 30px;
  font-weight: 500;
  color: var(--nav-color);
  transition: all 0.3s ease;
  font-size: calc(20 / 16 * 1rem);
}

.nav-item .item-list .item-links:hover {
  color: var(--main-color);
}

.nav-item .item-list .item-links.active {
  color: var(--main-color);
}

/* Media Query */

@media (max-width: 755px) {
  /* Navbar */
  .navbar {
    width: 100%;
    padding-bottom: 10px;
  }

  .navbar .logo h2 {
    font-size: calc(25 / 16 * 1rem);
  }

  .nav-item .item-list .item-links {
    padding: 0 15px;
    font-size: calc(18 / 16 * 1rem);
  }
}

@media (max-width: 578px) {
  .task-page,
  .note-page,
  .introduction {
    height: 65vh;
  }

  /* Navbar */
  .navbar {
    flex-direction: column;
  }

  .navbar .logo h2 {
    font-size: calc(25 / 16 * 1rem);
  }

  .nav-item .item-list .item-links {
    padding: 0 15px;
    margin: 15px 0;
    font-size: calc(18 / 16 * 1rem);
  }

  .note-page.show,
  .introduction.show,
  .task-page.show {
    height: 70vh;
  }
}

@media (max-width: 435px) {
  /* Navbar */
  .navbar .logo h2 {
    font-size: calc(23 / 16 * 1rem);
  }

  .nav-item .item-list .item-links {
    padding: 0 10px;
    margin: 15px 0;
  }

  .section {
    padding: 30px 10px;
    max-width: 1900px;
  }
}

@media (max-width: 395px) {
  .navbar .logo h2 {
    font-size: calc(18 / 16 * 1rem);
  }
  .section {
    padding: 30px 10px;
    max-width: 3000px;
  }

  .nav-item .item-list .item-links {
    padding: 0;
    font-size: calc(16 / 16 * 1rem);
  }
}
