:root {
  --white: #ffff;
  --nav-color: #bfc5cd;
  --line-color: #f4f4f4;
  --dark-grey: #1e2739;
  --text-color: #9b9fa4;
  --body-color: #f6f8fa;
  --nav-active-color: #87e6ba;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 30px;
  background: var(--body-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Section - White background */
.section {
  width: 100%;
  margin: auto;
  padding: 30px;
  max-width: 1800px;
  border-radius: 20px;
  background: var(--white);
  box-shadow: 0 5px 1.5rem rgba(0, 0, 0, 0.1);
}

/* Navbar */
.navbar {
  width: 100%;
  display: flex;
  border-bottom: 2px solid var(--line-color);
}

.navbar .logo {
  padding-right: 30px;
}

.navbar .nav-item .item-list {
  display: flex;
}
