:root {
  --white: #ffff;
  --nav-color: #bfc5cd;
  --line-color: #f4f4f4;
  --dark-grey: #1e2739;
  --text-color: #9b9fa4;
  --body-color: #f6f8fa;
  --main-color: #507ca6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: var(--dark-grey);
  padding: 30px;
  background: var(--body-color);
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  outline: none;
}

button {
  transition: all 0.3s ease;
}

/* Section - White background */
.section {
  width: 100%;
  margin: auto;
  padding: 30px;
  max-width: 1800px;
  border-radius: 20px;
  background: var(--white);
  box-shadow: 0 5px 1.5rem rgba(0, 0, 0, 0.1);
}

/* Navbar */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  justify-content: space-between;
  border-bottom: 2px solid var(--line-color);
}

.navbar .logo h2 {
  cursor: default;
  color: var(--dark-grey);
  font-size: calc(30 / 16 * 1rem);
}

.navbar .nav-item .item-list {
  display: flex;
}

.nav-item .item-list .item-links {
  cursor: pointer;
  padding: 0 30px;
  font-weight: 500;
  color: var(--nav-color);
  transition: all 0.3s ease;
  font-size: calc(20 / 16 * 1rem);
}

.nav-item .item-list .item-links:hover {
color: var(--main-color);
}

.nav-item .item-list .item-links.active {
  color: var(--main-color);
}

/* Switch Button */
.dark-light-mode {
  width: 60px;
  height: 34px;
  position: relative;
  display: inline-block;
}

.dark-light-mode input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: 0.4s;
  position: absolute;
  -webkit-transition: 0.4s;
  background-color: var(--main-color);
}

.slider:before {
  left: 4px;
  content: '';
  bottom: 4px;
  width: 26px;
  height: 26px;
  transition: 0.4s;
  position: absolute;
  -webkit-transition: 0.4s;
  background-color: white;
}

input:checked + .slider {
  background-color: var(--text-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
  -ms-transform: translateX(26px);
  -webkit-transform: translateX(26px);
}