:root {
  --white: #ffff;
  --nav-color: #bfc5cd;
  --line-color: #f4f4f4;
  --dark-grey: #1e2739;
  --medium-grey: #e6e6e6;
  --text-color: #8d8d8d;
  --body-color: #f6f8fa;
  --main-color: #507CA6;
}

.task-page.show {
  gap: 100px;
  width: 100%;
  height: 75vh;
  display: block;
  overflow-y: auto;
  max-width: 1800px;
}

/* Board Page */
.task-page {
  gap: 100px;
  width: 100%;
  height: 75vh;
  display: none;
  overflow-y: auto;
  max-width: 1800px;
}

.task-page::-webkit-scrollbar {
  width: 5px;
}
.task-page::-webkit-scrollbar-track {
  border-radius: 25px;
  background: #f1f1f1;
}

.task-page::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #e6e6e6;
}

